<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bqsolo.framework.dao.CommonMapper">
  <sql id="isVoidCondition">
    isvoid = 1
  </sql>

  <sql id="pagingLimit">
    <if test="pageBean != null and pageBean.dateNo != null">
      limit ${pageBean.dateNo},${pageBean.pageSize}
    </if>
  </sql>
</mapper>