<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bqsolo.main.dao.mapper.UserMapper" >
	<!-- 注意：1. BaseResultMap 与底层架构有关,除数据库变更.严禁人为修改. -->
	<resultMap id="BaseResultMap"  type="com.bqsolo.main.entity.UserEntity">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="img" property="img" jdbcType="VARCHAR" />
		<result column="priority" property="priority" jdbcType="DOUBLE" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="logintime" property="logintime" jdbcType="INTEGER" />
		<result column="cuid" property="cuid" jdbcType="INTEGER" />
		<result column="cdate" property="cdate" jdbcType="TIMESTAMP" />
		<result column="changeuid" property="changeuid" jdbcType="INTEGER" />
		<result column="changedate" property="changedate" jdbcType="TIMESTAMP" />
		<result column="isvoid" property="isvoid" jdbcType="INTEGER" />
	</resultMap>

	<sql id="allColumn">
		id,nickname,email,mobile,password,img,priority,sex,logintime,cuid,cdate,changeuid,changedate,isvoid
	</sql>

	<insert id="doAdd"  parameterType="com.bqsolo.main.entity.UserEntity" >
    	 insert into user ( 
 <if test="null != nickname"  >nickname,</if>
<if test="null != email"  >email,</if>
<if test="null != mobile"  >mobile,</if>
<if test="null != password"  >password,</if>
<if test="null != img"  >img,</if>
<if test="null != priority"  >priority,</if>
<if test="null != sex"  >sex,</if>
<if test="null != logintime"  >logintime,</if>
<if test="null != cuid"  >cuid,</if>
<if test="null != cdate"  >cdate,</if>
<if test="null != changeuid"  >changeuid,</if>
<if test="null != changedate"  >changedate,</if>
 
 isvoid) values ( 
<if test="null != nickname"  >#{nickname},</if>
<if test="null != email"  >#{email},</if>
<if test="null != mobile"  >#{mobile},</if>
<if test="null != password"  >#{password},</if>
<if test="null != img"  >#{img},</if>
<if test="null != priority"  >#{priority},</if>
<if test="null != sex"  >#{sex},</if>
<if test="null != logintime"  >#{logintime},</if>
<if test="null != cuid"  >#{cuid},</if>
<if test="null != cdate"  >#{cdate},</if>
<if test="null != changeuid"  >#{changeuid},</if>
<if test="null != changedate"  >#{changedate},</if>
 
 #{isvoid})
  	</insert>
  	
	<insert id="doAddBatch"  parameterType="java.util.List" >
    	insert into user (
					<if test="null != e.nickname"  >
						 nickname,
					</if>
					<if test="null != e.email"  >
						 email,
					</if>
					<if test="null != e.mobile"  >
						 mobile,
					</if>
					<if test="null != e.password"  >
						 password,
					</if>
					<if test="null != e.img"  >
						 img,
					</if>
					<if test="null != e.priority"  >
						 priority,
					</if>
					<if test="null != e.sex"  >
						 sex,
					</if>
					<if test="null != e.logintime"  >
						 logintime,
					</if>
					<if test="null != e.cuid"  >
						 cuid,
					</if>
					<if test="null != e.cdate"  >
						 cdate,
					</if>
					<if test="null != e.changeuid"  >
						 changeuid,
					</if>
					<if test="null != e.changedate"  >
						 changedate,
					</if>
			 isvoid
		 ) values
		 <foreach collection="list" item="item" index="index"  separator=",">
				(
			 
						<if test="null != item.nickname"  >
						 	#{item.nickname},
						</if>
			 
						<if test="null != item.email"  >
						 	#{item.email},
						</if>
			 
						<if test="null != item.mobile"  >
						 	#{item.mobile},
						</if>
			 
						<if test="null != item.password"  >
						 	#{item.password},
						</if>
			 
						<if test="null != item.img"  >
						 	#{item.img},
						</if>
			 
						<if test="null != item.priority"  >
						 	#{item.priority},
						</if>
			 
						<if test="null != item.sex"  >
						 	#{item.sex},
						</if>
			 
						<if test="null != item.logintime"  >
						 	#{item.logintime},
						</if>
			 
						<if test="null != item.cuid"  >
						 	#{item.cuid},
						</if>
			 
						<if test="null != item.cdate"  >
						 	#{item.cdate},
						</if>
			 
						<if test="null != item.changeuid"  >
						 	#{item.changeuid},
						</if>
			 
						<if test="null != item.changedate"  >
						 	#{item.changedate},
						</if>
			 			#{item.isvoid}
			 )
		
		</foreach>
  	</insert>
  	
	<update id="doUpdate"   parameterType="com.bqsolo.main.entity.UserEntity" >
	    update 
	    	user
	    <set>
					<if test="null != nickname"  >
						 nickname = #{nickname,jdbcType=VARCHAR},
					</if>
					<if test="null != email"  >
						 email = #{email,jdbcType=VARCHAR},
					</if>
					<if test="null != mobile"  >
						 mobile = #{mobile,jdbcType=VARCHAR},
					</if>
					<if test="null != password"  >
						 password = #{password,jdbcType=VARCHAR},
					</if>
					<if test="null != img"  >
						 img = #{img,jdbcType=VARCHAR},
					</if>
					<if test="null != priority"  >
						 priority = #{priority,jdbcType=DOUBLE},
					</if>
					<if test="null != sex"  >
						 sex = #{sex,jdbcType=INTEGER},
					</if>
					<if test="null != logintime"  >
						 logintime = #{logintime,jdbcType=INTEGER},
					</if>
					<if test="null != cuid"  >
						 cuid = #{cuid,jdbcType=INTEGER},
					</if>
					<if test="null != cdate"  >
						 cdate = #{cdate,jdbcType=TIMESTAMP},
					</if>
					<if test="null != changeuid"  >
						 changeuid = #{changeuid,jdbcType=INTEGER},
					</if>
					<if test="null != changedate"  >
						 changedate = #{changedate,jdbcType=TIMESTAMP},
					</if>
					<if test="null != isvoid"  >
						 isvoid = #{isvoid,jdbcType=INTEGER},
					</if>
	    </set>
	     <where>
						 id =#{id,jdbcType=INTEGER}
		</where>
	 </update>
	 
     	
  	<delete id="doDelete"  >
  		delete  from 
  			user
	  	<where> 
	  		id 
	  	=
			#{id}
		</where>
    </delete>
    
  	<delete id="doDeletes"  parameterType="java.util.List" >
  		delete  from 
  			user
	  	<where> 
	  		id 
	  	in 
			<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</where>
    </delete>
    
    <update id="doRemove" parameterType="com.bqsolo.main.entity.UserEntity"  >
    	update 
    		user
    	set isvoid = 0
	    <if test="changeuid != null" >
	      ,changeuid = #{changeuid}
	    </if>
	    <choose>
	      <when test="changedate != null">
	        ,changedate = #{changedate}
	      </when>
	      <otherwise>
	        ,changedate = NOW()
	      </otherwise>
	    </choose>
	     <where>
		     id = #{id}
		</where>
  	</update>
  		
   <select id="getById" resultMap="BaseResultMap" >
	    select
      		<include refid="allColumn" />
      	from 
      		user
	    <where>
		    id = #{id}
		</where>
  </select>
  
  	<select id="getByIds" resultMap="BaseResultMap" parameterType="java.util.List">
	  	select
      		<include refid="allColumn" />
      	from 
      		user
	  	<where> 
	  		id 
	  	in 
			<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</where>
  	</select>
  
   <select id="getCount" resultType="java.lang.Long">
      select count(*) from user
      <if test="_parameter != null">
          <include refid="sqlCriCondition"/>
      </if>
  </select>  
  
  <select id="queryForList" resultMap="BaseResultMap">
      select
      <include refid="allColumn" />
      from user
      <if test="_parameter != null">
        <include refid="sqlCriCondition"/>
        <include refid="sortSql"/>
        <include refid="com.bqsolo.framework.dao.CommonMapper.pagingLimit"/>
      </if>
  </select>
  
  <select id="queryForPageList" resultMap="BaseResultMap">
      select
      <include refid="allColumn" />
      from user
      <if test="_parameter != null">
        <include refid="sqlCriCondition"/>
        <include refid="sortSql"/>
        <include refid="com.bqsolo.framework.dao.CommonMapper.pagingLimit"/>
      </if>
  </select>
  
 

  <!--条件查询时 日期默认= 字符默认like 其他默认= 需要进行其他逻辑处理请自行更改-->
  <sql id="sqlCriCondition">
  	<where>
  	 1=1
		<if test="null != id">
			AND id = #{id,jdbcType=INTEGER}
		</if>	
		<if test="null != nickname and nickname != ''">
			AND nickname LIKE CONCAT('%', #{nickname,jdbcType=VARCHAR}, '%')
		</if>
		<if test="null != email and email != ''">
			AND email LIKE CONCAT('%', #{email,jdbcType=VARCHAR}, '%')
		</if>
		<if test="null != mobile and mobile != ''">
			AND mobile LIKE CONCAT('%', #{mobile,jdbcType=VARCHAR}, '%')
		</if>
		<if test="null != password and password != ''">
			AND password LIKE CONCAT('%', #{password,jdbcType=VARCHAR}, '%')
		</if>
		<if test="null != img and img != ''">
			AND img LIKE CONCAT('%', #{img,jdbcType=VARCHAR}, '%')
		</if>
		<if test="null != priority">
			AND priority = #{priority,jdbcType=DOUBLE}
		</if>	
		<if test="null != sex">
			AND sex = #{sex,jdbcType=INTEGER}
		</if>	
		<if test="null != logintime">
			AND logintime = #{logintime,jdbcType=INTEGER}
		</if>	
		<if test="null != cuid">
			AND cuid = #{cuid,jdbcType=INTEGER}
		</if>	
		<if test="null != cdate and cdate != ''">
			AND cdate = #{cdate,jdbcType=TIMESTAMP}
		</if>
		<if test="null != changeuid">
			AND changeuid = #{changeuid,jdbcType=INTEGER}
		</if>	
		<if test="null != changedate and changedate != ''">
			AND changedate = #{changedate,jdbcType=TIMESTAMP}
		</if>
		<if test="null != isvoid">
			AND isvoid = #{isvoid,jdbcType=INTEGER}
		</if>	
  	</where>
  </sql>  
  
    <sql id="sortSql">
        order by
        <choose>
            <when test="sortItemMap == null">
                cdate desc
            </when>
            <otherwise>
                <foreach collection="sortItemMap.keySet()" item="field" separator=",">
                    <choose>
						<when test="field == 'nickname'">
			                 nickname ${sortItemMap.nickname}
			            </when>
						<when test="field == 'email'">
			                 email ${sortItemMap.email}
			            </when>
						<when test="field == 'mobile'">
			                 mobile ${sortItemMap.mobile}
			            </when>
						<when test="field == 'password'">
			                 password ${sortItemMap.password}
			            </when>
						<when test="field == 'img'">
			                 img ${sortItemMap.img}
			            </when>
						<when test="field == 'priority'">
			                 priority ${sortItemMap.priority}
			            </when>
						<when test="field == 'sex'">
			                 sex ${sortItemMap.sex}
			            </when>
						<when test="field == 'logintime'">
			                 logintime ${sortItemMap.logintime}
			            </when>
						<when test="field == 'cuid'">
			                 cuid ${sortItemMap.cuid}
			            </when>
						<when test="field == 'cdate'">
			                 cdate ${sortItemMap.cdate}
			            </when>
						<when test="field == 'changeuid'">
			                 changeuid ${sortItemMap.changeuid}
			            </when>
						<when test="field == 'changedate'">
			                 changedate ${sortItemMap.changedate}
			            </when>
						<when test="field == 'isvoid'">
			                 isvoid ${sortItemMap.isvoid}
			            </when>
						<otherwise>
							id asc
						</otherwise>
					</choose>
                </foreach>
            </otherwise>
        </choose>
    </sql>  


</mapper>