<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- 注意:这里的参数(如用户名、密码)都是针对邮件发送者的 -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.126.com" />
		<property name="defaultEncoding" value="utf-8" />
		<property name="username" value="dengyixiang_jy@126.com" />
		<property name="password" value="rvusysnqjaxijzvt" />
		<property name="port" value="25"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
			</props>
		</property>
	</bean>
	<bean id="freeMarker" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
        <property name="templateLoaderPath" value="classpath:/template" /> 
        
        <!--指定模板文件目录-->  
        <property name="freemarkerSettings"><!-- 设置FreeMarker环境属性-->  
            <props>  
                <prop key="template_update_delay">1800</prop><!--刷新模板的周期，单位为秒-->  
                <prop key="default_encoding">utf-8</prop><!--模板的编码格式 -->  
                <prop key="locale">zh_CN</prop><!-- 本地化设置-->  
            </props>  
        </property>  
    </bean>  
	
</beans>  	